<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/%22%3E>
<head>
    <meta charset=UTF-8">
<title>Title</title>
</head>
<style>
    body{
        background-color: #ccffcc
    }
</style>
<body>
<a th:href="@{/shop/products}">Products</a>
<br>
<a th:if="${basket.size() > 0}"th:href="@{/shop/basket/sum}">Pay</a>
<br><br>
    <tr th:each="basket_product: ${basket_products}">
        <td th:text="${basket.name}" />
        <td th:text="${basket.price}+zł" />
        <td th:text=" '(' + ${basket.quantity} +')' " />
        <br>
    </tr>
<br>
<td th:text=" 'Total price: ' + ${sum_price} + zł" />
</body>
</html>