<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/%22%3E>
<head>
    <meta charset=UTF-8">
<title>Title</title>
</head>
<body>
    <tr th:each="cart_products: ${cart_products}">
        <td th:if="${cart_products.amount > 0}"th:text="${cart_products.id}+." />
        <td th:if="${cart_products.amount > 0}"th:text="${cart_products.name}" />
        <td th:if="${cart_products.amount > 0}"th:text="${cart_products.price}+zł" />
        <td th:if="${cart_products.amount > 0}"th:text=" '(' + ${cart_products.amount} +')' " />
        <br>
    </tr>

    <a th:href="@{/shop/product-list}">Products</a>
</div>
</body>
</html>