<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/%22%3E>
<head>
    <meta charset=UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="products.css">
</head>
<style>
    body{
        background-color: #ccffcc
    }
</style>
<body>
    <a th:href="@{/shop/basket}">Koszyk</a>
    <br>
    <div id="content">
        <div th:id="${product.id}" th:each="product : ${getproducts}" class="product">
            <br>
            <div th:text=" 'Produkt: ' + ${product.name}" class="name"></div>
            <div th:text=" 'Cena: ' + ${product.price}+zł" class="price"></div>
            <div th:text=" 'Ilość: ' + ${product.quantity}" class="quantity"></div>
            <a th:href="@{basket/add/{id}(id=${product.id})}">Dodaj do koszyka</a>
        </div>
    </div>
</body>
</html>